header{
    padding: 25px 0;
    z-index: 2;
    .wrap-header{
        display: flex;
        align-items: center;
        .account{
            margin-left: auto;
            margin-right: 110px;
            font-size: 16px;
            font-weight: 400;
            color: color(dark-grey,primary);
            text-decoration: none;
            display: flex;
            align-items: center;
            svg{
                margin-right: 12px;
                use{
                    fill:color(dark-grey,primary);
                }
            }
        }
        .cart{
            font-size: 16px;
            font-weight: 400;
            color: color(dark-grey,primary);
            text-decoration: none;
            display: flex;
            align-items: center;
            &.active{
                .icon{
                    position: relative;
                    margin-right: 12px;
                    svg{
                        use{
                            fill:color(dark-grey,primary);
                        }
                    }                    
                    &::after{
                        position: absolute;
                        top:-1px;
                        right:-4px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: color(green,primary);
                        content:'';
                    }                    
                }
            }
        }        
    } 
    &.home-page{
        .container{
            max-width: 100%;
        }
        .wrap-header{
            .logo{
                .mobile{
                    display: none;
                }
            }
            .menu{
                margin-left: auto;
                margin-right: 20px;
                ul{
                    padding: 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    li{
                        list-style: none;
                        margin:0 30px;
                        a{
                            font-size: 16px;
                            line-height: 1.3;
                            padding: 8px 4px;
                            font-weight: 400;
                            color: color(white,primary);
                            text-decoration: none;
                        }
                        &.active{
                            a{
                                font-weight: 700;
                                border-bottom: 4px solid color(white,primary);
                            }
                        }
                    }
                }
            }
            .login{
                width: 110px;
            }
            .menu-btn{
                display: none;
                svg{
                    use{
                        stroke:color(white,primary);
                    }
                }
            }
        }
    } 
}

@include respond(s-screen){
    header{
        padding: 20px 0;
        .wrap-header{
            .logo{
                a{
                    img{
                        max-width: 151px;
                    }
                }
            }
            .account{
                margin-right: 30px;
                font-size: 0;
            }
            .cart{
                font-size: 0;
            }            
        }
        &.home-page{
            .wrap-header{
                justify-content: space-between;
                .logo{
                    .desktop{
                        display: none;
                    }
                    .mobile{
                        display: block;
                    }
                }
                .menu{
                    display: none;
                }
                .login{
                    display: none;
                }
                .menu-btn{
                    display: block;
                }                
            }
        }
    }
}
