header{
    padding: 25px 0;
    .wrap-header{
        display: flex;
        align-items: center;
        .account{
            margin-left: auto;
            margin-right: 110px;
            font-size: 16px;
            font-weight: 400;
            color: color(dark-grey,primary);
            text-decoration: none;
            svg{
                margin-right: 12px;
                use{
                    fill:color(dark-grey,primary);
                }
            }
        }
        .cart{
            position: relative;
            font-size: 16px;
            font-weight: 400;
            color: color(dark-grey,primary);
            text-decoration: none;
            svg{
                margin-right: 12px;
                use{
                    fill:color(dark-grey,primary);
                }
            }
        }        
    }
}