$stars: 5;
$star-size: 20px;
$star-spacing: 2px;
$star-on-color: color(yellow,primary);
$star-off-color: color(white,primary);

.rating {
  &__stars {
    display: flex;
    align-items: center;

    .rating__star {
      display: inline-flex;

      svg {
        & > use {
          fill: $star-off-color;
          stroke: $star-on-color;
        }
      }

      &.active {
        svg {
          & > use {
            fill: $star-on-color;
            stroke: $star-on-color;
          }
        }

        &.half_star {
          svg {
            & > use {
              fill: url(#halfStartGradient);
            }
          }
        }
      }
    }
  }
}

.rating-input {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  label {
    position: relative;
    width: $star-size;
    height: $star-size;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    // &:not(:first-of-type) {
    //   padding-right: $star-spacing;
    // }
    svg {
      use {
        fill: $star-off-color;
        stroke: $star-on-color;
      }
    }
  }

  input {
    display: none;
  }

  input:checked ~ label svg use,
  &:not(:checked) > label:hover svg use,
  &:not(:checked) > label:hover ~ label svg use {
    fill: $star-on-color;
  }
}