$colors: (
  yellow:(
    primary:#FDE50C,
  ),  
  white:(
    primary:#fff,
    dark-100:#F3F7FC
  ),
  light-grey: (
    light-100:#f3f3f3,
    primary:#c4c4c4,
  ),
  dark-grey:(
    primary:#575966,
  ),  
  green:(
    primary:#6DC433,
    dark-100:#3C9326               
  ),
  blue:(
    light-100:#78CEFF,
    primary:#1261BD                                      
  )
);


// ILLUSTRATION COLORS

$primary-green:#6DC433;
$green: #3C9326;
$sky:#78ceff;
$primary-blue:#1261BD;
$blue:#2e4e94;
$dark-blue:#27427a;
$primary-pink:#ffa9a8;
$dark-pink: #e37b7b;   
