@import "vars";
@import "libs";
@import "fonts";
@import "mixins";
@import "function";
@import "typography";
@import "header";
@import "footer";
@import "breadcrumbs";
@import "form";
@import "buttons";
@import "cart";
@import "apotheke";
@import "rating";
@import "select";
@import "modal";
@import "mobile-menu";
@import "pages/store";
@import "pages/home";
@import "pages/home-business";
@import "shared/cookie-banner";
@import "shared/splash-screen";

@media (min-width: 1350px){
    .container{
        max-width: 1350px;
    } 
    .col-2xl-3{
      max-width: 25%;
    }       
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: color(white, primary);
    color: color(dark-grey, primary);
    &.disable {
      position: relative;
      overflow: hidden;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.3);
      content: "";
      opacity: 0;
      transition: 0.5s;
      z-index: -2;
      &.active {
        opacity: 1;
        z-index: 2;
      }
    }
  }