.main_screen {
  min-height: 413px;
  background: linear-gradient(
      90.5deg,
      rgba(18, 97, 189, 0.9) -8.26%,
      rgba(120, 206, 255, 0.9) 100%
    ),
    url("../../img/main_sreen.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  &__title{
    margin-top: 40px;
    margin-bottom: 30px;
    h1{
      color:color(white,primary);
      line-height: 1.3;
      span{
        font-weight: 300;
      }      
    }
  }
  .main_screen__form{
    form{
      display: flex;
      align-items: center;
      justify-content: center;
      input{
        width: 100%;
        max-width: 381px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      button{
        width: 100%;
        max-width: 137px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;     
      }
    }
    a{
      display: inline-block;
      font-size: 18px;
      font-weight: 700;
      color:color(white,primary);
      text-decoration: none;
      margin-top: 21px;
    }    
  }
}

.main_menu {
  .menu {
    background: linear-gradient(90.93deg, #3c9326 -2.03%, #6dc433 100%);
    border-radius: 20px;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 43px 0;
      li {
        width: calc(100%/8);
        height: 112px;
        border-right:1px solid color(white,primary);
        list-style: none;
        &:last-child{
            border: none;
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          svg {
            use {
              fill: color(white, primary);
            }
          }
        }
      }
    }
  }
}

.content{
  .apotheke{
    position: sticky;
    top: 0;
  }
  .filter_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .filter{
      display: flex;
      align-items: center;
      label{
        display: flex;
        align-items: center;
      }
    }    
  }
}

.message_bubble{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom:60px;
  right:60px;
  width: 83px;
  height: 83px;
  border-radius: 50%;
  background: color(green,primary);
  svg{
    use{
      fill:color(white,primary);
    }
  }
}
